In [22]:
# Import Library
import fredapi as fa

1. Federal Funds Effective Rate

In [37]:
# Import interest rate
fred = fa.Fred(api_key='1c6c04d387ef34dca89c616d907bdb79')

period_start = "2017-01-01"
period_end = "2024-01-01"
series_id = 'DFF'

interest_rate = fred.get_series(series_id, period_start, period_end)

interest_df = interest_rate.to_frame('Interest Rate')

# Show interest rate
interest_df

            Interest Rate
2017-01-01           0.55
2017-01-02           0.55
2017-01-03           0.66
2017-01-04           0.66
2017-01-05           0.66
...                   ...
2023-12-28           5.33
2023-12-29           5.33
2023-12-30           5.33
2023-12-31           5.33
2024-01-01           5.33

[2557 rows x 1 columns]

2. S&P/Case-Shiller U.S. National Home Price Index

In [40]:
# Change the series_id 
## Notice that the data frequency is monthly 
series_id = 'CSUSHPISA'

house_index = fred.get_series(series_id, period_start, period_end)
house_df = house_index.to_frame('House Price')
house_df

            House Price
2017-01-01      186.801
2017-02-01      187.313
2017-03-01      187.991
2017-04-01      188.723
2017-05-01      189.615
...                 ...
2023-06-01      304.593
2023-07-01      306.800
2023-08-01      309.226
2023-09-01      311.255
2023-10-01      313.276

[82 rows x 1 columns]

3. Delinquency Rate on Single-Family Residential Mortgages, Booked in Domestic Offices, All Commercial Banks

In [41]:
# Change the series_id 
series_id = 'DRSFRMACBS'
default_rate = fred.get_series(series_id, period_start, period_end)
default_df = default_rate.to_frame('Default Rate')
default_df

            Default Rate
2017-01-01          3.90
2017-04-01          3.68
2017-07-01          3.64
2017-10-01          3.57
2018-01-01          3.48
2018-04-01          3.22
2018-07-01          2.99
2018-10-01          2.83
2019-01-01          2.70
2019-04-01          2.60
2019-07-01          2.44
2019-10-01          2.34
2020-01-01          2.35
2020-04-01          2.54
2020-07-01          2.83
2020-10-01          2.74
2021-01-01          2.68
2021-04-01          2.48
2021-07-01          2.30
2021-10-01          2.28
2022-01-01          2.09
2022-04-01          1.96
2022-07-01          1.85
2022-10-01          1.78
2023-01-01          1.74
2023-04-01          1.73
2023-07-01          1.72

4. Large Bank Consumer Credit Card Balances: Current Credit Score: 50th Percentile

In [42]:
# Change the series_id 
series_id = 'RCCCBSCOREPCT50'
credit_score = fred.get_series(series_id, period_start, period_end)
credit_df = credit_score.to_frame('Credit Score')
credit_df

            Credit Score
2017-01-01         757.0
2017-04-01         758.0
2017-07-01         758.0
2017-10-01         758.0
2018-01-01         758.0
2018-04-01         760.0
2018-07-01         760.0
2018-10-01         760.0
2019-01-01         761.0
2019-04-01         762.0
2019-07-01         761.0
2019-10-01         760.0
2020-01-01         760.0
2020-04-01         765.0
2020-07-01         766.0
2020-10-01         766.0
2021-01-01         768.0
2021-04-01         768.0
2021-07-01         767.0
2021-10-01         766.0
2022-01-01         766.0
2022-04-01         766.0
2022-07-01         765.0
2022-10-01         764.0
2023-01-01         764.0
2023-04-01         766.0

5. Gross Domestic Product

In [ ]:
# Change the series_id 
series_id = 'RCCCBSCOREPCT50'
credit_score = fred.get_series(series_id, period_start, period_end)
credit_df = credit_score.to_frame('Credit Score')
credit_df