In [22]:
# Import Library
import fredapi as fa

In [28]:
# Import interest rate
fred = fa.Fred(api_key='1c6c04d387ef34dca89c616d907bdb79')

period_start = "2017-01-01"
period_end = "2024-01-01"
series_id = 'DFF'

interest_rate = fred.get_series(series_id, period_start, period_end)

interest_df = interest_rate.to_frame('Interest Rate')

In [29]:
interest_df

            Interest Rate
2017-01-01           0.55
2017-01-02           0.55
2017-01-03           0.66
2017-01-04           0.66
2017-01-05           0.66
...                   ...
2023-12-28           5.33
2023-12-29           5.33
2023-12-30           5.33
2023-12-31           5.33
2024-01-01           5.33

[2557 rows x 1 columns]