In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import pandas_datareader as pdr

In [2]:
## Construction related data collected from the Australian Bureau of Statistics
CONSTRUCTION_INPUTS = "../data/Input Prices for Constructions.xlsx"
CONSTRUCTION_OUTPUTS = "../data/Output Prices from Constructions.xlsx"
CONSTRUCTION_WORKS = "../data/Value of Construction Works.xlsx"

## Key variables for illiquid stock analysis
FRED = "FEDFUNDS"
ILLIQUID_TICKER = "KELYB"
LIQUID_INDEX_TICKER = "SPY"

In [3]:
## CODE from M1 Lesson 1 of FD

def get_fred_data(param_list, start_date, end_date) -> pd.DataFrame:
    df = pdr.DataReader(param_list, "fred", start_date, end_date) 
    return df.reset_index()

In [4]:
c_inputs = pd.read_excel(CONSTRUCTION_INPUTS, sheet_name='Data1')
c_outputs = pd.read_excel(CONSTRUCTION_OUTPUTS, sheet_name='Data1')
c_works = pd.read_excel(CONSTRUCTION_WORKS, sheet_name='Data1')

## Data Analysis for Construction Loan

In [5]:
# TODO: First, list down key columns I from each data set in this cell. 
# TODO: Second, write in  markdown, what these columns do, what do they tell us, what time period are we taking and why
# TODO: Third, clean up data set in accordance to what we need. 
# TODO: Fourth, run analysis

## Data Extraction and Analysis for Illquid Stock

In [6]:
PERIOD_START = "2017-01-01"
PERIOD_END = "2024-01-01"

In [7]:
stock = yf.Ticker(ILLIQUID_TICKER)
stock.history(start=PERIOD_START, end=PERIOD_END)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-01-03 00:00:00-05:00,20.763308,20.763308,20.763308,20.763308,0,0.0,0.0
2017-01-04 00:00:00-05:00,20.763308,20.763308,20.763308,20.763308,0,0.0,0.0
2017-01-05 00:00:00-05:00,20.763308,20.763308,20.763308,20.763308,0,0.0,0.0
2017-01-06 00:00:00-05:00,20.763308,20.763308,20.763308,20.763308,0,0.0,0.0
2017-01-09 00:00:00-05:00,20.763308,20.763308,20.763308,20.763308,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,21.650000,21.650000,21.650000,21.650000,200,0.0,0.0
2023-12-26 00:00:00-05:00,21.650000,21.650000,21.650000,21.650000,0,0.0,0.0
2023-12-27 00:00:00-05:00,21.650000,21.650000,21.650000,21.650000,0,0.0,0.0
2023-12-28 00:00:00-05:00,21.650000,21.650000,21.650000,21.650000,0,0.0,0.0
2023-12-29 00:00:00-05:00,21.650000,21.650000,21.650000,21.650000,0,0.0,0.0

In [8]:
index = yf.Ticker(LIQUID_INDEX_TICKER)
index.history(start=PERIOD_START, end=PERIOD_END)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2017-01-03 00:00:00-05:00,199.642126,200.342975,198.613053,199.819565,91366500,0.0,0.0,0.0
2017-01-04 00:00:00-05:00,200.156655,201.159128,200.147789,201.008316,78744400,0.0,0.0,0.0
2017-01-05 00:00:00-05:00,200.733268,201.008279,200.032419,200.848587,78379000,0.0,0.0,0.0
2017-01-06 00:00:00-05:00,200.963922,202.046234,200.405019,201.567184,71559900,0.0,0.0,0.0
2017-01-09 00:00:00-05:00,201.301035,201.442981,200.866332,200.901825,46939700,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,473.859985,475.380005,471.700012,473.649994,67126600,0.0,0.0,0.0
2023-12-26 00:00:00-05:00,474.070007,476.579987,473.989990,475.649994,55387000,0.0,0.0,0.0
2023-12-27 00:00:00-05:00,475.440002,476.660004,474.890015,476.510010,68000300,0.0,0.0,0.0
2023-12-28 00:00:00-05:00,476.880005,477.549988,476.260010,476.690002,77158100,0.0,0.0,0.0
2023-12-29 00:00:00-05:00,476.489990,477.029999,473.299988,475.309998,122234100,0.0,0.0,0.0

In [9]:
fed_rate = get_fred_data(param_list=[FRED], start_date=PERIOD_START, end_date=PERIOD_END)
fed_rate.head()

        DATE  FEDFUNDS
0 2017-01-01      0.65
1 2017-02-01      0.66
2 2017-03-01      0.79
3 2017-04-01      0.90
4 2017-05-01      0.91